* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:focus {
        outline: 0;
    }
}

::selection {
  background: #22ffffff;
}

body {
    margin: 0 auto;
    overflow-x: hidden;

}

button {
    background-color: transparent;
}

@mixin rwd($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}

// Make footer sticky
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content--padding {

    & > * {
        padding: 0 9vw;
    }
}
.logo {
    width: 60px;
}
.alt--title {
    font-size: 3.2em;
    @include rwd(700) { font-size: 2em }
}
